:root {
  color-scheme: dark;
  font-family: sans-serif;
}
body {
  margin: 0;
  overflow: hidden;

  user-select: none;
  -webkit-user-select: none;
}
canvas {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* background: linear-gradient(skyblue, green); */
}
* {
  box-sizing: border-box;
}
.pages {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
.page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: end;
  padding: 16px;
  padding-bottom: 32px;
  gap: 16px;
  text-shadow: 0 0 4px black;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.icon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.icon-button svg {
  filter: drop-shadow(0 0 4px black);
}

.overlay {
  touch-action: none;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}
.desc-header {
  display: flex;
  align-items: center;
  gap: 8px;
}
.desc-header img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid lime;
  padding: 4px;
}
button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font: inherit;
  color: white;
  padding: 2px 8px;
  background-color: transparent;
}
button:hover {
  cursor: pointer;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.start-overlay {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.panel-controls {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  padding: 4px;
}
.panel-controls > div {
  display: flex;
  justify-content: center;
  align-items: start;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent 48px);
  border-radius: 16px;
  padding: 16px;
}
